body {
    margin-bottom: 16px;
}

.first-title {
    display: flex;
    align-items: center;
    margin: 16px;
}

.first-title h1 {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #fff;
    margin-left: 12px;
}

.wallet #title {
    color: #499A3B;
    margin-bottom: 8px;
}

.money {
    color: #499A3B;
    margin-bottom: 18px;
}

.money p {
    margin-bottom: 4px;
}

.cripto-wallet {
    background-color: #fff;
    margin-inline: 16px;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
}

.cripto-wallet p {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

.wallet {
    padding: 16px;
}

.money p {
    font-weight: 300;
}

.cripto {
    margin: 8px;
    background-color: #DAFFD3;
    display: flex;
    align-items: center;
    border-radius: 12px;
}

.cripto span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 4px;
    margin-left: 8px;
}

#info {
    margin-left: 8px;
}

.plus-button1 button {
    margin-left: 96px;
}

.plus-button2 button {
    margin-left: 96px;
}

.plus-button3 button {
    margin-left: 68px;
}

.plus-button4 button {
    margin-left: 96px;
}

.plus-button5 button {
    margin-left: 96px;
}

.plus-button6 button {
    margin-left: 132px;
}

.plus-button7 button {
    margin-left: 92px;
}
/*

.cripto #icon {
    height: 50px;
    width: 50px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 50%;
    margin-block: 4px;
}*/

#icon {
    height: 50px;
    width: 50px;
    background-color: #d9d9d9;
    border-radius: 50%;
}

.about-cripto {
    border: none;
    background: none;
}

.new-coins {
    margin-top: 16px;
}

.new-coins #second-title {
    color: #499A3B;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

@media(min-width: 350px) and (max-width: 370px){
    .cripto-wallet h3 {
        font-size: 16px;
    }


    .cripto p {
        font-size: 12px;
    }
}