@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&family=Roboto:wght@300;400;700&family=Sansita:wght@700&display=swap');

body {
    background-color: #87EC75;
}

.page h1 {
    font-family: 'Sansita', sans-serif;
    margin: 1rem;
    font-size: 48px;
    color: #fff;
}

@keyframes logo {
    0% {top: 0px;}
    50% {top: 15px}
    100% {top: 0px}
}


#loading {
    display: flex;
    justify-content: center;
    margin-top: 55%;
}

#loading img {
    position: relative;
    animation: logo 1s infinite;
}

.page {
    text-align: center;
    margin-top: 35%;
}

.page img {
    width: 118px;
    height: 128px;
}

.enter-data {
    display: flex;
    justify-content: center;
}

input {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 16px;
    height: 3rem;
    width: 17.5rem;
    text-align: left;
    border: none;
    border-radius: 20px;
}

.enter-data h2 {
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #499A3B;
    margin: 4px;
    padding-left: 8px;
}

#submit {
    border: none;
    width: 40%;
    height: 15%;
    margin: 16px;
    border-radius: 8px;
    background-color: #499A3B;
    color: #fff;
}